.imgContainer {

}

.imgMain {
    position: relative;
    opacity: 90%;
}

#head1 {
    position: absolute;
    color: white;
    left: 325px;
    top: 250px;
    
}

#head2 {
    position: absolute;
    color: white;
    left: 325px;
    top: 350px;
    font-size: 20px;
    font-weight: 800;
}

#head3 {
    position: absolute;
    color: white;
    left: 100px;
    top: 150px;
    font-size: 30px;
    font-weight: 800;
}
